/* font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

  a, a:active, a::after, a::before {
    text-decoration: none;
    color:inherit;
  }

.flux {
width: 100%;
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}

header {
  display: flex;
  padding-top: 1.5rem;
}

.logo {
  padding: 2rem 4rem;
}
.navb {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.navb__element {
  text-decoration: none;
  color:tomato;
  font-family: 'Hind Madurai';
}


section {
  text-align: center;
  margin-top: 3rem;
}

.title {
  font-family: 'Montserrat';
  padding: 3rem;
}

.subtitle {
font-family: 'Lora';
padding: 3rem;
}

p, btn {
  font-family: 'Hind Madurai';
  padding: 2rem;
}

video {
  margin-top: 2.5rem;
}

footer {
  margin-top: 4rem;
  position: absolute;
  right: 0;
}


