/* font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hwb(0 0% 100%);
  color: white;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Hind Madurai';
}

.flux {
width: 100%;
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}
/* HEADER */
header {
  display: flex;
}

.navbar {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 2rem;
}

.navbar ul {
  display: flex;
}

.nav__links ul li {
  margin: 0 30px;
}
.nav__links ul li.active a{
  color: tomato;
  font-weight: bold;
}


/* COVER */

section {
  text-align: center;
  margin-top: 3rem;
}

.title {
  font-family: 'Montserrat';
  padding: 3rem;
}

video {
  margin-top: 2.5rem;
}

/* Section2 */

.subtitle {
font-family: 'Lora';
padding: 3rem;
}

p, btn {
  font-family: 'Hind Madurai';
  padding: 2rem;
}

footer {
  margin-top: 4rem;
  position: absolute;
  right: 0;
}


