:root {
  --font-primary: 'Hind Madurai', sans-serif;
  --font-title: 'Montserrat', sans-serif; 
  --font-subtitle: 'Lora', serif;
  --dark: #000;
  --light: white;
  --secondary: #fff279;
  --primary: tomato;
  --primary-trans: rgba(255, 99, 71, 0.575);
}
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--dark);
  color: var(--light);
}


.flux {
width: 100%;
max-width: 1280px;
margin: auto;
}
/* HEADER */

.container {
  display: flex;;
  align-items: center;
  justify-content: space-between;
}

nav {
background-color: var(--primary-trans);
padding: 16px 32px;
border-bottom: 3px solid var(--light);
}

.nav__logo {
  width: 2rem;
}

.nav__links {
  display: none;
  /* flex: 1 1 0%;*/
  justify-content: flex-end;
}

.nav__links a {
  margin: 0 1rem; 
  padding: 8px 1rem;
  border-radius: 99px;
  transition: 0.4s;
}

.nav__links a.is_active, .nav__links a:hover {
  background-color: var(--primary);
} 

.hamburger {
  display: block;
  position: relative;

  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span{
  display: block;
  width: 2em;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: var(--light);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px) ;
  background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translate(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-2px, -1px) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav__links {
    display: flex;
  }
}

/* COVER */

section {
  text-align: center;
  margin-top: 3rem;
}

.title {
  font-family: 'Montserrat';
  padding: 3rem;
}

video {
  margin-top: 2.5rem;
}

/* Section2 */

.subtitle {
font-family: 'Lora';
padding: 3rem;
}

p, btn {
  font-family: 'Hind Madurai';
  padding: 2rem;
}

footer {
  margin-top: 4rem;
  position: absolute;
  right: 0;
}


